* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 300vh;
}
a{
    text-decoration: none;
    color:black;
}
.icon{
    filter: invert(100%);
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ff00cc, #3333cc);
    border-radius: 2px;
}
