<header role="navigation">
    <nav class="mainNav" role="menubar">
        <div class="logo navItem" role="menuitem">
            <a href="/SPPT/"><img class="icon" width="50" height="50" src="Assets/LOGO/logo.png" alt="Logo"></a>
            <a href="/SPPT/" class="innerNavItem">SPP Technologies</a>
        </div>
        <div class="navLinks navItem" role="menuitem">
            <a href="Services" class="innerNavItem" role="menuitem">services</a>
            <a href="Solutions" class="innerNavItem" role="menuitem">solutions</a>
            <a href="Explore" class="innerNavItem" role="menuitem">explore</a>
            <a href="Contact" class="innerNavItem contact" role="menuitem">contact</a>
        </div>
    </nav>
</header>